.container {
  position: relative;
  width: 250px;
}

.select {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 3px;
}

.search {
  padding: 0.8rem;
  width: 100%;
  border: none;
}

.button {
  border: none;
  border-left: 1px solid gray;
  padding: 0.8rem;
  background: white;
}

.item-list-container {
  height: 300px;
  border: 1px solid gray
}

.item-list {
  height: 100%;
  overflow-y: scroll;
}

.item:hover {
  background: rgb(230, 229, 229);
}

.item {
  list-style: none;
  cursor: pointer;
  padding: 0.3rem;
}

.loader {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background: rgb(80, 176, 255);
  position: absolute;
  bottom: 0;
  width: 95.5%;
  font-weight: bold;
}

.spinner {
  margin-right: 0.3rem;
}
